*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

legend{
    font-size: 200%;
    color: cadetblue;

}

fieldset{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px;
    margin-top: 10%;
}


input{
    width: 100%;
}